<!DOCTYPE html>
<html>

<head>
    <title> EasyFlexibility Splits Tool</title>
</head>

<body>
    <a href="http://www.easyflexibility.com">
        <img src="https://cdn.shopify.com/s/files/1/0297/6669/files/EasyFlexibility_logo_only_HD_for_photos_large.jpg?5654030719678608964">
    </a>

    <hr />

    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Easy Flexibility</p>
    </footer>

</body>

</html>