@model string
@{
    Layout = "_Layout.cshtml";
}

<h1 style="color:#993366">
    Welcome to the EasyFlexibility Splits Tool!
</h1>
<p>
    The EF Splits Tool will guide you through your progress and help you reach <b>full splits.</b>
</p>
<p>
    <h3 style="color:#993366">
        <i> This is your gift for having registered! </i>
    </h3>

    Use coupon code <b>Special15Off</b> to get 15% off in your purchase at
    <a href="http://www.easyflexibility.com"> www.easyflexibility.com </a>
</p>

<h3>
    These are the results of your test:
</h3>
<img src="@Model"/>
<p>
    Share your new challenge with your friends:
    <a href="http://www.facebook.com"><img src="https://cdn.shopify.com/s/files/1/0297/6669/files/fb_large.png?8548997481871343314" height="50"/></a>
</p>

<hr>

<h2 style="color:#993366">
    And... this is what you have to do to get your <b>full splits</b> in no time:
</h2>
<p> Click on the cover picture below and download your Front & Side Splits Training Combo and just follow along.</p>
<a href="https://www.easyflexibility.com/collections/splits/products/combo-beginners-split-combo?variant=892811533">
    <img src="https://cdn.shopify.com/s/files/1/0297/6669/products/Old_Ratio_Splits_Combo_Cover_1024x1024.jpg?v=1457129790"/>
</a>
<p> Our team of EasyFlexibility Certified Instructors is here to assist you along the way. Feel free to write to us if you have any questions about your splits training.</p>

<h3 style="color:#993366"> Once more we Welcome You to EasyFlexibility and we are eager to see your Full Splits!</h3>

<img src="https://cdn.shopify.com/s/files/1/0297/6669/files/Paul_and_Jacabel_Side_Split_46cac570-3a0e-4226-87df-9347b1aeb892_large.jpg?15112053610722990828"/>