@model string
@{
    Layout = "_Layout.cshtml";
}

<p>
    Please confirm your email address by clicking <a href="@Model">here</a>.
</p>

<p>
    Once you will confirm the email address we will send you the measurement result if you did it! You can now start tracking your progress!
</p>