@model EasyFlexibilityTool.Web.Models.TrainingReminderModel
@{
    Layout = "_Layout.cshtml";
}

<p>Hello @Model.UserName, this is a reminder of your splits training for @Model.CategoryName. We are looking forward to seeing your progress updates, so we were wondering what made you skip your workout.</p>
<p>We strongly recommend you don't miss your workouts, otherwise you may lose progress and the full splits date will be delayed.</p>
<p>Please remember we are here to assist you to achieve your goals, and if you come accross any difficulties while training do let us know and we'll be prompt to help you out.</p>
<p>
    If you are sore you can do:
    <ul>
        <li>relaxed stretches using your breathing to speed up recovery</li>
        <li>trigger point massage as explained in the massage video</li>
        <li>castor oil rubbing massage</li>
    </ul>
</p>
<p>Remember to do this on rest days to maintain your progress and speed up recovery.</p>
<p>
    Take today's split progress photo and upload it to the EasyFlexibility Splits Application! <a href="http://easyflexibility.azurewebsites.net/">http://easyflexibility.azurewebsites.net/</a>
</p>