/*
* @subsection   Buttons
*/

$btn-xs-height: 40px;
$btn-xs-size: 15px;

$btn-sm-height: $btn-xs-height * 1.25;
$btn-sm-size: $btn-xs-size * 1.13;

$btn-md-height: $btn-xs-height * 1.45;
$btn-md-size: $btn-xs-size * 1.2;

$btn-lg-height: $btn-xs-height * 1.825;
$btn-lg-size: $btn-xs-size * 1.33;

$btn-xl-height: $btn-xs-height * 1.925;
$btn-xl-size: $btn-xs-size * 1.5;

$btn-group-offset: 15px;

// Button General Styles
.btn {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  white-space: nowrap;
  max-width: 100%;
  border-style: solid;
  text-overflow: ellipsis;
  text-transform: uppercase;
  border-radius: 35px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-decoration: none;
  font-family: $secondary-font-family;
  letter-spacing: 0.08em;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  .icon {
    float: left;
    vertical-align: middle;
  }
}

// Button Layout Styles
.btn-xs {
  padding: ceil(($btn-xs-height - ($btn-xs-size * 1.2) - 4) / 2);
  font-size: ceil($btn-xs-size);

  .icon {
    font-size: $btn-md-size * 1;
    padding-right: 10px;
    line-height: (1em / 1);
  }
}

.btn-sm {
  padding: ceil(($btn-sm-height - ($btn-sm-size * 1.2) - 4) / 2);
  font-size: ceil($btn-sm-size);

  .icon {
    font-size: $btn-md-size * 1.1;
    padding-right: 10px;
    line-height: (1em / 1.1);
  }
}

.btn-md {
  padding: ceil(($btn-md-height - ($btn-md-size * 1.2) - 4) / 2.5) 35px;
  font-size: ceil($btn-md-size) / 1.5;
  @media (min-width: $screen-lg-min) {
    padding: ceil(($btn-md-height - ($btn-md-size * 1.2) - 4) / 2) 40px;
    font-size: ceil($btn-md-size);
  }

  .icon {
    font-size: $btn-md-size * 1.2;
    padding-right: 10px;
    line-height: (1em / 1.2);
  }
}

.btn-lg {
  padding: ceil(($btn-lg-height - ($btn-lg-size * 1.2) - 4) / 2.8) 40px;
  font-size: ceil($btn-lg-size) * 0.8;
  @media (min-width: $screen-md-min) {
    padding: ceil(($btn-lg-height - ($btn-lg-size * 1.2) - 4) / 2.5) 50px;
    font-size: ceil($btn-lg-size) * 0.9;
  }
  @media (min-width: $screen-lg-min) {
    padding: ceil(($btn-lg-height - ($btn-lg-size * 1.2) - 4) / 2) 70px;
    font-size: ceil($btn-lg-size);
  }

  .icon {
    font-size: $btn-lg-size * 1.4;
    padding-right: 15px;
    line-height: (1em / 1.4);
  }
}

.btn-xl {
  padding: ceil(($btn-xl-height - ($btn-xl-size * 1.2)) / 2) 75px;
  font-size: ceil($btn-xl-size);

  .icon {
    font-size: $btn-xl-size * 1.6;
    padding-right: 15px;
    line-height: (1em / 1.6);
  }
}

// Button Appearance Styles
.btn-default {
  color: $contrast;
  background: $grayscale-darken;
  &:hover {
    color: $primary;
  }
}

.btn-primary {
  color: $contrast;
  background: $primary;
  &:hover {
    color: $grayscale-darken;
  }
}

.btn.fa-facebook {
  color: $white;
  background: #4569ae;
  border-color: #4569ae;
  box-shadow: $box-shadow-key-small;

  &:hover, &:active {
    background: darken(#4569ae, 5%);
    border-color: darken(#4569ae, 5%);
  }

  &:hover {
    box-shadow: $box-shadow-ambient;
  }

  &:active {
    box-shadow: $box-shadow-ambient;
  }
}

.btn.fa-twitter {
  color: $white;
  background: #5ea9dd;
  border-color: #5ea9dd;
  box-shadow: $box-shadow-key-small;

  &:hover, &:active {
    background: darken(#5ea9dd, 5%);
    border-color: darken(#5ea9dd, 5%);
  }

  &:hover {
    box-shadow: $box-shadow-ambient;
  }

  &:active {
    box-shadow: $box-shadow-ambient;
  }
}

.btn.fa-pinterest {
  color: $white;
  background: #cb2027;
  border-color: #cb2027;
  box-shadow: $box-shadow-key-small;

  &:hover, &:active {
    background: darken(#cb2027, 5%);
    border-color: darken(#cb2027, 5%);
  }

  &:hover {
    box-shadow: $box-shadow-ambient;
  }

  &:active {
    box-shadow: $box-shadow-ambient;
  }
}

// Button Group Styles
.btn-group {
  @include transform(translateY(-$btn-group-offset));
  margin-bottom: -$btn-group-offset;
  margin-left: -$btn-group-offset;

  .btn {
    margin-top: $btn-group-offset;
    margin-left: $btn-group-offset;
  }
}