/*
* Fullwidth Layout
*/

$navbar-fullwidth-nav-color: $navbar-nav-color;
$navbar-fullwidth-nav-background: $navbar-nav-background;
$navbar-fullwidth-nav-hover-color: $navbar-nav-hover-color;
$navbar-fullwidth-nav-hover-background: $navbar-nav-hover-background;
$navbar-fullwidth-nav-active-color: $navbar-nav-active-color;
$navbar-fullwidth-nav-active-background: $navbar-nav-active-background;

$navbar-fullwidth-inner-base-min-height: 150px;
$navbar-fullwidth-inner-base-height: 195px;

.rd-navbar-fullwidth {
  display: block;

  .rd-navbar-inner {
    @include flexbox;
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    @include align-items(center);
    @include align-content(center);
    min-height: $navbar-fullwidth-inner-base-min-height;
    height: $navbar-fullwidth-inner-base-height;

  }
  // RD Navbar Panel
  .rd-navbar-panel {
    text-align: center;
    padding: 20px 0;
    order: 1;
    @media (min-width: $screen-md-min) {
      padding: 40px 0;

    }
  }

  .inline-list {
    order: 2;
  }

  .rd-navbar-nav-wrap {
    padding-right: 46px;
    position: relative;
    order: 3;

    .rd-navbar-megamenu {
      margin-top: 0;
    }
  }

  .rd-navbar-search-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
  }

  // RD Navbar Nav
  .rd-navbar-nav {
    width: 100%;
    display: table;
    table-layout: fixed;

    > li {
      display: table-cell;

      > a {
        display: block;
        text-align: center;
        padding: 20px;
      }
    }
  }

  // RD Navbar States

  &.rd-navbar--is-stuck {
    @include transform(translateY(-120px));

    .rd-navbar-panel {
      display: none;
    }
    .inline-list {
      display: none;
    }
  }
  &.rd-navbar--is-clone {
    .rd-navbar-inner {
      min-height: 75px;
      height: 75px;
    }

    .rd-navbar-panel {
      display: none;
    }
    .inline-list {
      display: none;
    }
  }

  .rd-navbar-fullwidth--visible {
    display: block;
  }

  .rd-navbar-fullwidth--hidden {
    display: none;
  }
}